@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--color-zinc-300);
}

.dark ::selection {
  background-color: var(--color-zinc-700);
}
